---
//#ここはcontentにあるmdファイルから、.astroファイルを生成する際のひな型です。
import {getCollection,type CollectionEntry} from 'astro:content';
import {FormatDateOfJP} from '../../scripts/function'
import BlogLayout from '../../layouts/BlogLayout.astro';
//#パスの生成をする関数の中身を書く、この関数名はunityのイベント関数みたいに変えれないastroによるもの
export async function getStaticPaths(){
    const posts:CollectionEntry<'blog'>[] = await getCollection('blog');
    return posts.map(post =>({
        
        params:{slug:post.slug},
        props:{post},
    }));
}
//# htmlに対応するmdの情報を流し込む部分の処理
//## 登録した記事データを受け取る
const post:CollectionEntry<'blog'> = Astro.props.post;
const blogData = post.data;
//## コンテント(mdx)をastroコンポーネントにする処理とのこと、気持ち悪い
const {Content} = await post.render();
---
<BlogLayout title = {blogData.title}>
    <header>
        <h1>{blogData.title}</h1>
        <div class="tag-wrapper">{
            blogData.tags.map((e) =>{return (
                <span class="tag">{e}</span>
            )})
        }</div>
        <span class="pub-date">公開日：{FormatDateOfJP(blogData.pubDate)}</span>
        <span class="rev-date">更新日：{FormatDateOfJP(blogData.revDate)}</span>
    </header>
    <main>
        <Content/>
    </main>
</BlogLayout>
<style is:global lang="scss">
@use '../../styles/_utility' as *;
@layer Layout{
    main{
        > h1,> h2,> h3,> h4{
            margin:20px 0px;
        }
        > ul{
            margin-left:10px;
            > li{
                position: relative;
                &::before{
                    position: absolute;
                    left:0px;
                    top:50%;
                    transform: translateY(-50%);
                }
            }
        }
        > ol{
            li{
                position: relative;
                &::before{
                    position: absolute;
                    left:0px;
                    top:50%;
                    transform: translateY(-50%);
                }
            }
        }
        > p{
            margin:10px 0px;
        }
    }
}
@layer Appearance{
    main{
        > h1{
            font-size:100%;
            background-image:repeating-linear-gradient(to right,
            $yellow 0px, $yellow 10px,
            $light-yellow 10px, $light-yellow 100%,
            );
            padding:2px 4px;
            background-color: $light-yellow;
            outline:1px solid gainsboro;
        }
        > h2,> h3,> h4{
            border-bottom:1px solid gainsboro;
            padding-bottom: 5px;
            padding-left:5px;
        }

        > h2{
            font-size:90%;
        }
        > h3{
            font-size:80%;
        }
        > h4{
            font-size:70%;
        }
        > p{
            font-size:16px;
            line-height: 1.6;
        }
        
       
        > ul > li{
            font-size:16px;
            list-style: none;
            padding-left:20px;
            line-height: 1.6;
            &::before{
                aspect-ratio: 1/1;
                height:8px;
                background-color: black;
                border-radius: 50%;
                content: "";
            }
        }
        > ol{
            list-style: none;
            counter-reset: rank;
            > li{
                padding-left:20px;
                line-height: 1.6;
                font-size:16px;
                counter-increment: rank;
                &::before{
                    height:100%;
                    content: counter(rank)".";
                    font-weight: 700;
                }
            }
        }
        .astro-code{
            border-radius: 10px;
            padding:10px;
            > code{
                font-size:16px;
                line-height:1.6;
            }
        }
    }
}

</style>
