---
import {getCollection,type CollectionEntry} from 'astro:content';
import {workExplainCategory as workExplainCategory} from '../content.config'
import {GetRenderAndEntrys} from '../scripts/function';

//このファイルは各作品の紹介に特化したページコンポーネントです。
import Layout from '../layouts/Layout.astro';
import ParticleBackGround from '../components/ParticleBackGround.astro';

import WorksOfHeader from '../components/works/HeaderOfWorks.astro';
import WorkCardsSection from '../components/works/WorkCardsSection.astro'
import WorkCard from '../components/works/WorkCard.astro';

const workExplains:CollectionEntry<"workExplain">[] = await getCollection("workExplain");

const gameExplains = workExplains
    .filter(e => e.data.category.some(tag => tag === workExplainCategory.game))
    .sort((a, b) => a.data.displayOrder - b.data.displayOrder);
const otherExplains = workExplains
    .filter(e => e.data.category.some(tag => tag === workExplainCategory.other))
    .sort((a, b) => a.data.displayOrder - b.data.displayOrder);

const renderedGameExplains = await GetRenderAndEntrys<"workExplain">(gameExplains);
const renderedOtherExplains = await GetRenderAndEntrys<"workExplain">(otherExplains);
---
<Layout title='作品紹介'>

    <ParticleBackGround zIndex={1} particleDensity={0.5}/>
    <WorksOfHeader/>
    <main>
        <WorkCardsSection sectionTitle='ゲーム作品' zIndex='2'>
        {renderedGameExplains.map(({entry,Content}) => {return(
            <WorkCard  workTitle={entry.data.workTitle} workMediaURL={entry.data.workMediaURL} playLink={entry.data.playLink} detailLink={entry.data.detailLink}>
                <Fragment slot="card-specs">
                    <li><strong>・使用技術</strong>：{entry.data.techs.join(" ")}</li>
                    <li><strong>・制作期間</strong>：{entry.data.period}</li> 
                    <li><strong>・開発人数</strong>：{entry.data.members}</li>
                </Fragment>
                <Fragment slot="overview">
                    <strong>・執筆日</strong>：{entry.data.pubDate}<br>
                    <Content/>
                </Fragment>
            </WorkCard>
        )})}
        </WorkCardsSection>

        <WorkCardsSection sectionTitle='その他' zIndex='2'>
            {renderedOtherExplains.map(({entry,Content}) => {return(
                <WorkCard  workTitle={entry.data.workTitle} workMediaURL={entry.data.workMediaURL} playLink={entry.data.playLink} detailLink={entry.data.detailLink}>
                    <Fragment slot="card-specs">
                        <li><strong>・使用技術</strong>：{entry.data.techs.join(" ")}</li>
                        <li><strong>・制作期間</strong>：{entry.data.period}</li> 
                        <li><strong>・開発人数</strong>：{entry.data.members}</li>
                    </Fragment>
                    <Fragment slot="overview">
                        <strong>・執筆日</strong>：{entry.data.pubDate}<br>
                        <Content/>
                    </Fragment>
                </WorkCard>
            )})}
        </WorkCardsSection>
    </main>
</Layout>
<style>
    @import url("../styles/pages/works.scss");
</style>
