---
//カルーセルの構成要素にならないカード、なる方のカードはWorkCardOfCarousel.astroを参照
interface Props{
	workMediaURL:string;
	workTitle:string;
	playLink?:string;
	detailLink?:string;
}
const {workMediaURL: workMediaURL,workTitle: workTitle,playLink:playLink,detailLink:detailLink}:Props = Astro.props;

//#渡されたmediaが動画か否かのチェックを行う処理
const videoExtensions:Array<string> = ['.mp4','.webm']
const isVideo:boolean = videoExtensions.some(ext => workMediaURL.endsWith(ext));
---

<work-card role="article">
	<div class="card-first-view">				
		<h3>{workTitle}</h3>
		<div class="media-container">
			{isVideo ?(
				<img class="image-background" src='/icon/MyIcon.webp'></img>
				<video src={workMediaURL} autoplay loop muted playsinline></video>
			):(
				<img class="image-background" src={workMediaURL}></img>
				<img src={workMediaURL}>
			)}
		</div>
		<p class="card-specs-wrapper">
			<slot name="card-specs"></slot>
		</p>
		<div class="link-button-wrapper">
			<a class="show-overview-button">制作談</a>
			{playLink ?(
				<a href={playLink} target="_blank" rel="noopener noreferrer">遊ぶ</a>
			):(
				<a class="is-deactive"></a>
			)}
		</div>
	</div>
	<div class="card-overview">
		<h3>{workTitle}</h3>
		<section class="overview-wrapper">
			<slot name="overview"/>
		</section>
		<div class="link-button-wrapper">
			<a class="show-first-view-button">戻る</a>
			{detailLink ?(
				<a href={detailLink} target="_blank" rel="noopener noreferrer">詳細</a>
			):(
				<a class="is-deactive"></a>
			)}
		</div>
	</div>
</work-card>	
 
<style lang="scss">
@use '../../../global-styles/_utility' as *;
@layer Layout{
	work-card{
		display:grid;
		grid-template-areas: "content";
		.card-first-view,.card-overview{
			grid-area: content;
			display:flex;
			flex-direction: column;
			align-items: center;
		}
		.card-first-view{
			h3{
				display:flex;
				align-items: center;
				justify-content: center;
			}
			.media-container{
				position:relative;
				margin-top:1.1cqh;
				.image-background{
					position:absolute;
				}
				img{
					position:absolute;
				}
				video{
					position:absolute;
				}
			}
			.card-specs-wrapper{
				margin-top:1.1cqh;
			}
			.link-button-wrapper{
				margin-bottom:1cqw;
				display: flex;
				justify-content: center;
				align-items:center;
				gap:20px;
				a{
					display:flex;
					align-items: center;
					justify-content: center;
					&:not(.is-deactive){
						&:active{
							transform:translateY(5px);
						}
					}
					&.is-deactive{
					}
				}
			}
		}
		.card-overview{
			transform:translateY(calc(-100% - 10px));
			&.is-show{
				transform:translateY(0px);
			}
			h3{
				display:flex;
				align-items: center;
				justify-content: center;
			}
			.overview-wrapper{
			}
			.link-button-wrapper{
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				gap:20px;

				position:relative;
				//#右の青色のバーに当たる部分
				&::before{
					position:absolute;
					right:0px;
				}
				a{
					margin-bottom:1cqw;
					display:flex;
					align-items: center;
					justify-content: center;

					&:not(.is-deactive){
						&:active{
							transform:translateY(5px);
						}
					}
					&.is-deactive{
					}
				}
			}
		}
	}
}
@layer Appearance{
	//#work-cardのサイズはWorkCardsSectionによって指定されています。
	work-card{
		aspect-ratio: 9/10;
		padding:0px 8px 8px 0px;
		border-top-left-radius: 20px;	
		border-top-right-radius: 20px;

		overflow:hidden;
		-webkit-tap-highlight-color: transparent;
		container-type: size;
		.card-first-view, .card-overview{
			width:100cqw;
			height:100cqh;

			border:2px solid $dark-gray;
			border-top-left-radius: 20px;	
			border-top-right-radius: 20px;			

		}
		.card-first-view{
			box-shadow: GetSmoothShadowValue(darkgoldenrod,2px,4,1px); 
			background-color: $light-yellow;

			h3{
				width:100%;
				height:12cqw;
				background-color: $yellow;
				border-top-left-radius: 17px;	
				border-top-right-radius: 17px;			

				font-size:7cqw;
				font-family: sans-serif;
				white-space:nowrap;
			}
			.media-container{
				overflow: hidden;

				border:3px solid $yellow;
				border-top-left-radius: 20px;	
				border-top-right-radius: 20px;			

				width:calc(100% - 14px);
				aspect-ratio: 16 / 9;	
				& > *{
					width:100%;
					height:100%;
					border-top-left-radius: 20px;	
					border-top-right-radius: 20px;			
				}
				.image-background{
					object-fit: cover;
					pointer-events: none;
					filter:blur(20px);
				}
				img{
					pointer-events: none;
					object-fit: contain;
				}
				video{

				}
			}
			.card-specs-wrapper{
				width:calc(100% - 14px);
				height:23%;
				padding:2px 5px;

				border:3px solid $yellow;
				border-bottom-left-radius: 20px;	
				border-bottom-right-radius: 20px;			
				background-color: white;		
				font-size: 4cqw;	
			}

			.link-button-wrapper{
				width:100%;
				flex-grow: 1;
				a{
					width:30cqw;
					height:10cqh;
					user-select: none;
					border-radius: 30px;
					background-color: $yellow;
					box-shadow: 0 5px 0 $dark-yellow;
					user-select: none;

					font-size: 5cqw;
					&:not(.is-deactive){
						font-family: sans-serif;
						&:active{
							box-shadow: 0 0 0 $dark-yellow;
						}
						&:hover{
							cursor: pointer; 
						}
					}
					&.is-deactive{
						background-color: rgba($yellow,0.6);
						box-shadow: 0 5px 0 rgba($dark-yellow,0.6);
						cursor: not-allowed;
					}
				}
			}
		}
		.card-overview{
			transition:transform 0.5s;
			will-change: transform;
			box-shadow: GetSmoothShadowValue($dark-blue,2px,4,1px); 
			background-color: $light-blue;

			border-top-left-radius: 20px;	
			border-top-right-radius: 20px;			
			h3{
				width:100%;
				height:12cqw;
				background-color: $blue;
				border-top-left-radius: 18px;	
				border-top-right-radius: 18px;			

				color:white;
				font-size:7cqw;
				font-family: sans-serif;
			}
			.overview-wrapper{
				width:100%;
				height:74cqh;
				background-color: whitesmoke;

				border-bottom:3px solid $blue;
				&::-webkit-scrollbar{
					width:10px;
				}
				&::-webkit-scrollbar-track{
					background-color: $blue;
				}
				&::-webkit-scrollbar-thumb{
					background-color: $light-blue;
					border-radius: 8px;
					border-right:3px solid $blue;
					border-left:3px solid $blue;
				}
				overflow-y: scroll;
				overscroll-behavior-y:none;
				overflow-x: hidden;

				line-height:1.5;
				padding:2px 5px;
				font-size:4cqw;
				font-family: serif;
				word-break: normal;
				overflow-wrap: break-word;
			}
			.link-button-wrapper{
				width:100%;
				flex-grow:1;
				border-top:3px solid $blue;

				a{
					width:30cqw;
					height:10cqh;
					background-color: $blue;
					box-shadow: 0 5px 0 $dark-blue;
					border-radius: 30px;
					user-select: none;
					color:whitesmoke;
					font-size:5cqw;

					user-select: none;
					isolation: isolate;
					&:not(.is-deactive){
						font-family: sans-serif;
						&:active{
							box-shadow: 0 0 0 $dark-yellow;
						}
						&:hover{
							cursor: pointer; 
						}
					}
					&.is-deactive{
						background-color: rgba($blue,0.6);
						box-shadow: 0 5px 0 rgba($dark-blue,0.6);
						cursor: not-allowed;
					}
				}	
			}
		}
	}
}

</style>  
<script>
	class WorkCard extends HTMLElement{
		connectedCallback(){
			//#Cardとしての役割を果たせるかのチェック
			const showFirstViewButton:HTMLElement|null = this.querySelector('.show-first-view-button');
			if(showFirstViewButton===null){console.error('show-first-view-buttonクラス属性が付与されたhtml要素が見つかりませんでした。'); 
				return;}
			const showOverviewButton:HTMLElement|null = this.querySelector('.show-overview-button');
			if(showOverviewButton===null){console.error('show-overview-buttonクラス属性が付与されたhtml要素が見つかりませんでした');
				return;}
				
			const cardOverview :HTMLElement|null = this.querySelector('.card-overview');
			if(cardOverview===null){console.error('card-overviewクラス属性が付与されたhtml要素が見つかりませんでした');
				return;}
			//#メインとなる処理
			console.log("関数の購読を開始します。");
			//##関数の購読
			showFirstViewButton.addEventListener('click',()=>{
				cardOverview.classList.remove('is-show')
			});
			showOverviewButton.addEventListener('click',()=>{
				console.log("showOverviewButtonが押されました");
				cardOverview.classList.add('is-show')
			})
		}
	}
	customElements.define('work-card',WorkCard);

</script>


