---

interface Props{
	workMediaURL:string;
	workTitle:string;
	playLink?:string;
	detailLink?:string;
}
import { CheckMedia } from '../../scripts/function';
const {workMediaURL: workMediaURL,workTitle: workTitle,playLink:playLink,detailLink:detailLink}:Props = Astro.props;

---

<work-card-of-carousel data-work-title={workTitle}>
	<div class="card">
		<div class="card-first-view">				
			<h3>{workTitle}</h3>
			<div class="media-container">
				{CheckMedia(workMediaURL)==="video" ?(
					<img class="image-background" src='/icon/myIcon.webp'></img>
					<video src={workMediaURL} autoplay loop muted playsinline></video>
				):(
					<img class="image-background" src={workMediaURL}></img>
					<img src={workMediaURL}>
				)}
			</div>
			<div class="link-buttons">
				<a class="show-overview-button">概要</a>
				{playLink ?(
					<a href={playLink} target="_blank" rel="noopener noreferrer">遊ぶ</a>
				):(
					<a class="is-deactive"></a>
				)}
			</div>
		</div>
		<div class="card-overview">
			<h3>{workTitle}</h3>
			<p>
				<slot />
			</p>
			<div class="link-buttons">
				<a class="hide-overview-button">戻る</a>
				{detailLink ?(
					<a href={detailLink} target="_blank" rel="noopener noreferrer">詳細</a>
				):(
					<a class="is-deactive"></a>
				)}
			</div>

		</div>
	</div>
</work-card-of-carousel>	
 
<style lang="scss">
@use '../../styles/_utility' as *;

$cardWidth:355px;
@layer Layout{
	work-card-of-carousel{
		.card{
			display:grid;
			grid-template-areas: "content";
			.card-first-view,.card-overview{
				grid-area: content;
			}
			.card-first-view{
				display: flex;
				flex-direction: column;
				align-items: center;
				h3{
					display: flex;
					justify-content: center;
					align-items: center;

				}
				.media-container{
					position:relative;
					margin-top:8px;
					.image-background{
						position:absolute;
					}
					img{
						position:absolute;
					}
					video{
						position:absolute;
					}
				}
				.link-buttons{
					margin-top: 8px;
					margin-bottom:8px;
					display: flex;
					flex-direction: row;
					justify-content:center;
					gap:20px;
					a{
						display:flex;
						align-items: center;
						justify-content: center;

						&:not(.is-deactive){
							&:active{
								transform:translateY(5px);
							}
						}
						&.is-deactive{
						}
					}
				}
			}
			.card-overview{
				transform:translateY(calc(-100% - 10px));
				display: flex;
				flex-direction: column;
				align-items: center;
				&.is-show{
					transform:translateY(0px);
				}
				h3{
					flex-shrink: 0;
					display: flex;
					justify-content: center;
					align-items: center;

				}
				p{
					flex-grow: 1;
				}
				.link-buttons{
					margin-top: 4px;
					margin-bottom: 8px;
					display: flex;
					flex-direction: row;
					justify-content:center;
					gap:20px;
					a{
						display:flex;
						align-items: center;
						justify-content: center;

						&:not(.is-deactive){
							&:active{
								transform:translateY(5px);
							}
						}
						&.is-deactive{
						}
					}
				}
			}
		}
	}
}
@layer Appearance{
	work-card-of-carousel{
		.card{
			padding:0px 10px 10px 0px;
			overflow:hidden;
			-webkit-tap-highlight-color: transparent;
			user-select: none;
			.card-first-view, .card-overview{
				width:$cardWidth;
			}
			.card-first-view{
				box-shadow: GetSmoothShadowValue(darkgoldenrod,2px,4,1px); 
				border:2px solid $yellow;
				background-color: $light-yellow;
				h3{
					width:100%;
					height:35px;
					background-color: $yellow;
					font-size:20px;
					font-family: sans-serif;
				}
				.media-container{
					overflow: hidden;
					outline:3px solid $yellow;;
					&,& > *{
						width:$cardWidth - 25px;
						aspect-ratio: 16 / 9;	
						border-radius: 20px;				
					}
					.image-background{
						object-fit: cover;
						pointer-events: none;
						filter:blur(20px);
					}
					img{
						pointer-events: none;
						object-fit: contain;
					}
					video{

					}
				}
				.link-buttons{
					a{
						width:100px;
						height:30px;
						user-select: none;
						border-radius: 30px;
						background-color: $yellow;
						box-shadow: 0 5px 0 $dark-yellow;
						user-select: none;
						isolation: isolate;
						&:not(.is-deactive){
							font-family: sans-serif;
							&:active{
								box-shadow: 0 0 0 $dark-yellow;
							}
							&:hover{
								cursor: pointer; 
							}
						}
						&.is-deactive{
							background-color: rgba($yellow,0.6);
							box-shadow: 0 5px 0 rgba($dark-yellow,0.6);
							cursor: not-allowed;
						}
					}
				}
			}
			.card-overview{
				transition:transform 0.5s;
				will-change: transform;
				box-shadow: GetSmoothShadowValue($dark-blue,2px,4,1px); 
				background-color: $light-blue;
				border:2px solid $blue;;
				h3{
					width:100%;
					height: 35px;
					color:whitesmoke;
					background-color: $blue;
					font-size:20px;
					font-family: sans-serif;
				}
				p{
					width:100%;
					height:100%;
					line-height:1.5;
					padding:2px 5px;
					font-size:16px;
					font-family: serif;
					overflow-wrap: anywhere;
					
				}
				.link-buttons{
					a{
						width:100px;
						height:30px;
						background-color: $blue;
						box-shadow: 0 5px 0 $dark-blue;
						border-radius: 30px;
						user-select: none;
						color:whitesmoke;
						user-select: none;
						isolation: isolate;
						&:not(.is-deactive){
							font-family: sans-serif;
							&:active{
								box-shadow: 0 0 0 $dark-yellow;
							}
							&:hover{
								cursor: pointer; 
							}
						}
						&.is-deactive{
							background-color: rgba($blue,0.6);
							box-shadow: 0 5px 0 rgba($dark-blue,0.6);
							cursor: not-allowed;
						}
					}	
				}
			}
		}
	}
}

@media (max-width:700px) {
}
    

</style>
<script>
	class WorkCardOfCarousel extends HTMLElement{
		private workTitle:string|undefined = undefined;
		private cardOverview:HTMLElement|null = null;
		private hideOverviewButton:HTMLElement|null = null;
		private showOverviewButton:HTMLElement|null = null;
		private targetCarousel:HTMLElement|null = null;
		
		connectedCallback(){
			//#Cardとしての役割を果たせるかのチェック
			this.hideOverviewButton = this.querySelector('.hide-overview-button');
			if(!this.hideOverviewButton){console.error('hide-overview-buttonクラス属性が付与されたhtml要素が見つかりませんでした。'); 
				return;}
			this.showOverviewButton = this.querySelector('.show-overview-button');
			if(!this.showOverviewButton){console.error('show-overview-buttonクラス属性が付与されたhtml要素が見つかりませんでした');
				return;}
			this.cardOverview = this.querySelector('.card-overview');
			if(!this.cardOverview){console.error('card-overviewクラス属性が付与されたhtml要素が見つかりませんでした');
				return;}
			this.workTitle = this.dataset.workTitle;
			if(!this.workTitle){console.error('data-work-titleが指定されていません。')
				return;}
			this.targetCarousel = this.closest('my-carousel');
			if(!this.targetCarousel){console.error('カルーセル用のカードなのに、祖先要素の中においてカルーセルが見つかりません')
				return;}

			//#メインとなる処理
			//##関数の購読
			this.showOverviewButton.addEventListener('click',this.RequestShowOverview)

			this.hideOverviewButton.addEventListener('click',this.RequestHideOverview);

			this.targetCarousel.addEventListener('sync-card-overview-visibility',this.SyncCardOverview)
		}
		private RequestHideOverview = () => {
			this.dispatchEvent(new CustomEvent('request-card-overview-visibility',{
				bubbles:true,
				detail:{title:this.workTitle,isShow:false}
			}));
		}
		private RequestShowOverview = () => {
			this.dispatchEvent(new CustomEvent('request-card-overview-visibility',{
				bubbles:true,
				detail:{title:this.workTitle,isShow:true}
			}));
		}
		private SyncCardOverview = (e:any)=>{
			if(e.detail.title !== this.workTitle){return};
			
			if(e.detail.isShow){
				this.cardOverview?.classList.add('is-show')
			}
			else{
				this.cardOverview?.classList.remove('is-show')
			}
		}
		disconnectCallback = () =>{
			this.showOverviewButton?.removeEventListener('click',this.RequestShowOverview)

			this.hideOverviewButton?.removeEventListener('click',this.RequestHideOverview);

			this.targetCarousel?.removeEventListener('sync-card-overview-visibility',this.SyncCardOverview)

		}
	}
	if(!customElements.get('work-card-of-carousel')){
		customElements.define('work-card-of-carousel',WorkCardOfCarousel);
	}

</script>
