---
interface HistoryItem{
    date:string;
    title:string;
    imgURL:string;
    explain:string;
}
//自分についての歴史をタイムライン形式で表現する奴
const historyItems:HistoryItem[] = [
    {
        date:"2017",
        title:"初めてのプログラミング",
        imgURL:"/normalImage/work/3thWork.webp",
        explain:"scratchという視覚的にゲーム作りをするツールに出会いました。ここで初めてプログラミングにはまりました。"
    },
    {
        date:"2018",
        title:"執筆中",
        imgURL:"/normalImage/work/3thWork.webp",
        explain:"執筆中"
    },
    {
        date:"2018",
        title:"執筆中",
        imgURL:"/normalImage/work/3thWork.webp",
        explain:"ラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメン"
    },
    {
        date:"2018",
        title:"執筆中",
        imgURL:"/normalImage/work/3thWork.webp",
        explain:"ラーメンラーメンラーメン"
    },
    {
        date:"2018",
        title:"執筆中",
        imgURL:"/normalImage/work/3thWork.webp",
        explain:"ラーメンラーメンラーメン"
    },
    {
        date:"2018",
        title:"執筆中",
        imgURL:"/normalImage/work/3thWork.webp",
        explain:"ラーメンラーメンラーメン"
    },



];
const listCount:number = historyItems.length;
---

<about-me-timeline role="list">
    {
        historyItems.map((e:HistoryItem,index:number) => {return(
            <li style=`--grid-row:${index + 1}`>
                <div class="date">{e.date}</div>
                <h2>{e.title}</h2>
                <div class="body">
                    <div class="img-wrapper"}>
                        <img class="background-img"src={e.imgURL} alt="アスペクト比が1/1じゃないときに表示される背景用画像"/>
                        <img class="related-img"src={e.imgURL} alt=`${e.title}の画像`/>
                    </div>
                    <p>
                        {e.explain}
                    </p>
                </div>
            </li>)
        })
    }
</about-me-timeline>
<style lang="scss" define:vars={{listCount}}>
@use '../../styles/_utility' as *;
$vertical-line-width:8px;
$column-gap:10px;
$row-gap:40px;
$max-li-count:1;
$left-li-horizontal-line-width:$column-gap  + 2;
$right-li-horizontal-line-width:$column-gap + 3;

@layer Layout{

    about-me-timeline{
        display:grid;
        grid-template-columns: 1fr $vertical-line-width 1fr;
        row-gap: $row-gap;
        column-gap: $column-gap;
        &::before{
            grid-column: 2;
            grid-row:1 / span var(--listCount);
        }
        li{
            position:relative;
            grid-row:var(--grid-row);
            &:first-child{
                margin-top:$row-gap;
            }
            &:last-child{
                margin-bottom:$row-gap;
            }
            //#ある階層の上から数えて奇数の時
            &:nth-child(odd){
                grid-column: 1;
                justify-self:end;

                &::before{
                    right:-1 * $left-li-horizontal-line-width ;
                }
                .date{
                    right:5px;
                }

            }
            &:nth-child(even){
                grid-column: 3;
                justify-self: start;

                margin-left: 1px;
                &::before{
                    left:-1 * $right-li-horizontal-line-width ;
                }
                .date{
                    left:5px;
                }
            }
            &::before{
                position:absolute;
                top:16px;
            }
            .date{
                position:absolute;
                top:-1 * ($row-gap - 10);
            }

            h2{
                display:flex;
                align-items: center;
                justify-content: center;
            }
            .body{
                .img-wrapper{
                    position:relative;
                    float:left;
                    .background-img{
                        position:absolute;
                    }
                    .related-img{
                        position:absolute;
                    }
                }
            }
        }  
    }
}
@layer Appearance{
    about-me-timeline{
        width:fit-content;
        list-style: none;
        &::before{
            width: $vertical-line-width;
            height:100%; 
            background-color: $light-yellow;
            box-shadow: 2px 2px 2px black;
            border-right:1px solid black;
            border-bottom:1px solid black;
            border-left:1px solid black;
            content: "";
        }
        li{
            width:350px;
            border:1px solid black;
            box-shadow: 2px 2px 2px black;
            background-color: $light-yellow;
            &::before{
                height:8px;
                transform:translateY(-1px);
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                box-shadow: 0px 1px 0px black;
                content: "";
            }
            //#ある階層の上から数えて奇数の時
            &:nth-child(odd){
                border-top-left-radius: 40px;
                &::before{
                    width:$left-li-horizontal-line-width;
                    background-image:linear-gradient(90deg,$yellow,$light-yellow);
                }
                h2{
                    border-top-left-radius: 40px;
                }

            }
            &:nth-child(even){
                border-top-right-radius: 40px;
                &::before{
                    width:$right-li-horizontal-line-width;
                    background-image:linear-gradient(90deg,$light-yellow,$yellow);
                }
                h2{
                    border-top-right-radius: 40px;
                }
            }
            .date{
                font-size:20px;
            }
            h2{
                width:100%;
                height:40px;
                background-color: $yellow;
                border-bottom: 1px solid black;
            }
            .body{
                width:100%;
                height:210px;
                padding:5px;
                .img-wrapper{
                    width:fit-content;
                    height:fit-content;
                    border-right:5px solid $light-yellow;
                    margin-right:3px;
                    border-bottom:5px solid $light-yellow;
                    margin-bottom:3px;
                    height:145px;
                    aspect-ratio: 1/1;
                    overflow: hidden;
                    .background-img{
                        width:100%;
                        height:100%;
                        object-fit: cover;
                        pointer-events: none;
                        filter:blur(10px);
                    }
                    .related-img{
                        width:100%;
                        height:100%;
                        pointer-events: none;
                        object-fit: contain;
                        border:3px solid $yellow;
                    }

                }
                p{  
                    padding:3px;
                    background-color: white; 
                    border:1px solid gainsboro;
                }
            }

        }
    }
}
@media (max-width:1000px) {
    about-me-timeline{
        display:grid;
        grid-template-columns: $vertical-line-width 1fr;
        row-gap: 40px;
        column-gap: $column-gap;
        &::before{
            grid-column: 1;
            grid-row:1 / span var(--listCount);
        }
        li{
            position:relative;
            justify-self: start;
            grid-column: 2;
            margin-left: 1px;

            border-radius: 0;
            border-top-right-radius: 40px;
            &::before{
                width:$right-li-horizontal-line-width;
                left:-1 * $right-li-horizontal-line-width;
                background-image:linear-gradient(90deg,$light-yellow,$yellow);
            }
            .date{
                inset:0px;
                top:-1 * ($row-gap - 10);
                left:5px;
            }
            h2{
                border-radius: 0;
                border-top-right-radius: 40px;
            }
        }  
    }
}
@media (max-width:450px) {
    about-me-timeline{
        li{
            width:340px;
        }
    }
}
</style>