---
interface HistoryItem{
    date:string;
    title:string;
    mediaURL:string;
    explain:string;
}
//自分についての歴史をタイムライン形式で表現する奴
const historyItems:HistoryItem[] = [
    {
        date:"2017年",
        title:"初めてのプログラミング",
        mediaURL:"/icon/scratchLogo.webp",
        explain:"小学5年の頃に、scratchというゲーム作りをするツールに出会いました。この頃はオフライン版をやっていたため、作品のデータすらありませんが、猫のキャラクターを動かしたり、車を動かしたりして、プログラミングの楽しさを知りました。この経験が無ければコードを書いてなかったと思います。"
    },
    {
        date:"2019年",
        title:"CoderDojoでのプログラミング",
        mediaURL:"/icon/coderdojoLogo.webp",
        explain:"親の勧めで、学生限定のプログラミングの集まりに参加していました。ここではvrを体験したり、一緒にスクラッチをやったりなど沢山の人と交流しました。その結果、プログラミングに対する興味を深めるきっかけになりました。"
    },
    {
        date:"2020年3月",
        title:"ブラウザ版のScratchへ移行",
        mediaURL:"/normalImage/aboutMe/onlineScratch.webp",
        explain:"オフライン版のScratchからブラウザ版のScratchへ移行しました。ここで、初めて作ったゲームをネットに載せる経験をしました。また、他の人の作品の影響から、「3dゲームを作りたい」と言う気持ちが大きくなっていた頃でもあります。私がブラウザ上で動くゲームを作っているのはここに起因します。"
    },
    {
        date:"2020年9月",
        title:"Unity学習の始まり",
        mediaURL:"/icon/frameWork/unity2021Logo.webp",
        explain:"「3dゲームを作りたい」という気持ちからunityを学び始めました。ネットにはありませんが、最初に3dのブロック崩しを作りました。右も左も分からなかったため、unityのインストールにすら手間取っていた記憶があります。またscratchのようなguiではなくcuiでオブジェクトの性質を定義するため、そこにも苦戦しました。"
    },
    {
        date:"2020年11月~2020年12月",
        title:"初のオリジナルゲームを公開",
        mediaURL:"/video/2thWork.mp4",
        explain:"3dゲームを作る前にunityの操作方法に慣れる事を目的として作ったゲームです。これはネットに挙げています。プログラム以外にもEdgeと言うツールを使ってドット絵を描きました。初めて作ったゲームですので、移動速度が速かったり、一つのアスペクト比にしか対応していない等、拙い部分が目立ちますね。"
    },
    {
        date:"2021年2月",
        title:"Blender学習を開始",
        mediaURL:"/normalImage/aboutMe/tankOfBlender.webp",
        explain:"この時期は戦車のゲームを作ろうとしていた時期です。それにあたってblenderの学習を開始しました。履帯の再現方法はuvスクロール形式やリギングを行う形式などいくつかありましたが、技術力が足らず、再現できませんでした。今の私ならuvスクロール形式の方は出来るかもしれません。"
    },
    {
        date:"2021年5月",
        title:"shader学習を開始",
        mediaURL:"/video/shaderStart2021_5.mp4",
        explain:"戦車のゲームが4月に完成し、次に船のゲームを作っていた時期です。それにあたり、shaderの勉強を開始しました。学習し始めのため、シームレスな海のテクスチャを繰り返し配置しuvスクロールするだけの物です。この映像の頃はcuiですが、難しくて、気が付いたらshaderGraphに逃げてました。いつかcuiにリベンジします。"
    },
    {
        date:"2022年11月",
        title:"shaderとblenderのスキルが成長",
        mediaURL:"/video/shaderProgrees2022_11.mp4",
        explain:"この頃になるとblender,shaderGraphともに慣れてきて、それなりのビジュアルを自作できるようになりました。例えば、海において、fbmノイズからノーマルマップを作って立体感を表したり、木において、blenderで作った。幹の頂点カラーの差異を用いてvertex shaderで木の揺らぎを再現したりもしています。"
    },
    {
        date:"2023年7月~2024年5月",
        title:"音ゲー制作を進めていたが断念",
        mediaURL:"/video/musicGame.mp4",
        explain:"船のゲームの終わりが見えず、苦しかった為、自分が好きな音楽ゲームを作ろうとしていました。ビジュアルは良いのですが、譜面を生成する仕組みも、読み込む仕組みもできておらずハリボテです。その上、パーテーションを消してしまうという大やらかしをしてしまい、萎えてゲーム制作から1年半も離れてしまいました。"
    },
    {
        date:"2025年12月",
        title:"ゲーム制作に復帰",
        mediaURL:"/video/gunSwapShooter.mp4",
        explain:"リアルが落ち着いてきた上、ゲーム制作をする気力も戻ってきたため、1年半ぶりにゲーム制作に復帰しました。この動画はその復帰作となるARシューティングゲームです。久々にちゃんと完成させました。現状コード的にも、ゲームの楽しさ的にも高い方だと思います。ブラウザ上で、手軽に遊べる為良かったら遊んでみてください。"
    },
    {
        date:"現在",
        title:"将来に向けて準備中",
        mediaURL:"/video/portfolioSite.mp4",
        explain:"大学2年現在、楽しいを糧に、未完の物含めて、様々な物を作ってきました。その作品をまとめたり、自己分析をしたりするため、ポートフォリオサイトの制作を進めています。将来どんなITエンジニアになるのか分からないですが、今までの経験が必ず自分のためになると信じて、引き続き勉強していきたいと思います。"
    },

];
const listCount:number = historyItems.length;
import { CheckMedia } from "../../scripts/function";
---

<about-me-timeline role="list">
    {
        historyItems.map((e:HistoryItem,index:number) => {return(
            <li style=`--grid-row:${index + 1}`>
                <div class="date">{e.date}</div>
                <h2>{e.title}</h2>
                <div class="body">
                    <div class="media-wrapper"}>
                        {CheckMedia(e.mediaURL)==="video" ?(
                            <img class="background-img" src='/icon/myIcon.webp'/>
                            <video src={e.mediaURL} autoplay loop muted playsinline/>
                        ):(
                            <img class="background-img"src={e.mediaURL} />
                            <img class="related-img" src={e.mediaURL} alt=`${e.title}の画像`/>
                        )}
                    </div>
                    <p>
                        {e.explain}
                    </p>
                </div>
            </li>)
        })
    }
</about-me-timeline>
<style lang="scss" define:vars={{listCount}}>
@use '../../styles/_utility' as *;
$vertical-line-width:8px;
$column-gap:10px;
$row-gap:60px;
$left-li-horizontal-line-width:$column-gap  + 2;
$right-li-horizontal-line-width:$column-gap + 3;

@layer Layout{

    about-me-timeline{  
        display:grid;
        grid-template-columns: 1fr $vertical-line-width 1fr;
        row-gap: $row-gap;
        column-gap: $column-gap;
        &::before{
            grid-column: 2;
            grid-row:1 / span var(--listCount);
        }
        li{
            position:relative;
            display: grid;
            grid-template-rows: auto 1fr;
            grid-row:var(--grid-row);
            &:first-child{
                margin-top:$row-gap;
            }
            &:last-child{
                margin-bottom:$row-gap;
            }
            //#ある階層の上から数えて奇数の時
            &:nth-child(odd){
                grid-column: 1;
                justify-self:end;

                &::before{
                    right:-1 * $left-li-horizontal-line-width ;
                }
                .date{
                    right:5px;
                }

            }
            &:nth-child(even){
                grid-column: 3;
                justify-self: start;

                margin-left: 1px;
                &::before{
                    left:-1 * $right-li-horizontal-line-width ;
                }
                .date{
                    left:5px;
                }
            }
            &::before{
                position:absolute;
                top:16px;
            }
            .date{
                position:absolute;
                top:-1 * (30px);
            }

            h2{
                display:flex;
                align-items: center;
                justify-content: center;

                grid-row: 1;
            }
            .body{
                grid-row: 2;
                .media-wrapper{
                    position:relative;
                    float:left;
                    .background-img{
                        position:absolute;
                    }
                    .related-img,video{
                        position:absolute;
                    }
                }
                p{
                }
            }
        }  
    }
}
@layer Appearance{
    about-me-timeline{
        width:fit-content;
        list-style: none;
        &::before{
            width: $vertical-line-width;
            height:100%; 
            background-color: $light-yellow;
            box-shadow: 2px 2px 2px black;
            border-right:1px solid black;
            border-bottom:1px solid black;
            border-left:1px solid black;
            content: "";
        }
        li{
            width:550px;
            border:1px solid black;
            box-shadow: 2px 2px 2px black;
            background-color: $light-yellow;

            &::before{
                height:8px;
                transform:translateY(-1px);
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                box-shadow: 0px 1px 0px black;
                content: "";
            }
            //#ある階層の上から数えて奇数の時
            &:nth-child(odd){
                border-top-left-radius: 40px;
                &::before{
                    width:$left-li-horizontal-line-width;
                    background-image:linear-gradient(90deg,$yellow,$light-yellow);
                }
                h2{
                    border-top-left-radius: 40px;
                }

            }
            &:nth-child(even){
                border-top-right-radius: 40px;
                &::before{
                    width:$right-li-horizontal-line-width;
                    background-image:linear-gradient(90deg,$light-yellow,$yellow);
                }
                h2{
                    border-top-right-radius: 40px;
                }
            }
            .date{
                font-size:20px;
            }
            h2{
                width:100%;
                height:40px;
                background-color: $yellow;
                border-bottom: 1px solid black;

                font-size:25px;
            }
            .body{
                width:100%;
                height:248px;
                padding:5px;
                .media-wrapper{
                    height:177px;
                    aspect-ratio: 16/9;
                    overflow: hidden;
                    border-right:5px solid $light-yellow;
                    border-bottom: 5px solid $light-yellow;
                    margin-right:5px;
                    margin-bottom:5px;
                    .background-img{
                        width:100%;
                        height:100%;
                        object-fit: cover;
                        pointer-events: none;
                        filter:blur(10px);
                    }
                    .related-img,video{
                        width:100%;
                        height:100%;
                        pointer-events: none;
                        object-fit: contain;
                        border:3px solid $yellow;
                    }
                }
                p{  
                    height:fit-content;
                    width:100%;
                    height:100%;
                    padding:3px;
                    line-height:1.6;
                    background-color: white; 
                    border:1px solid gainsboro;
                }
            }

        }
    }
}
@media (max-width:1150px) {
    about-me-timeline{
        display:grid;
        grid-template-columns: $vertical-line-width 1fr;
        column-gap: $column-gap;
        &::before{
            grid-column: 1;
            grid-row:1 / span var(--listCount);
        }
        li{
            
            justify-self: start;
            grid-column: 2;
            margin-left: 1px;

            border-radius: 0;
            border-top-right-radius: 40px;
            &::before{
                width:$right-li-horizontal-line-width;
                left:-1 * $right-li-horizontal-line-width;
                background-image:linear-gradient(90deg,$light-yellow,$yellow);
            }
            .date{
                left:5px;
            }
            h2{
                border-radius: 0;
                border-top-right-radius: 40px;
            }

        }  
    }
}
@media (max-width:600px) {
    about-me-timeline{
        li{
            width:340px;
            h2{
                font-size: 20px;
            }
            .body{
                display: flex;
                gap:5px;
                flex-direction: column;

                height:404px;
                .media-wrapper{
                    flex-shrink: 0;
                    width:100%;
                    aspect-ratio: 16/9;
                    margin:0px;
                    border:0px;
                }
                p{
                    flex-grow: 1;
                }
            }
        }
    }
}
</style>