---
//#自分のスキルを表示する用のアコーディオン
interface Props {
    skillName: string;
    skillIconURL?:string;
    proficiency:string;
}
const {skillName,skillIconURL,proficiency} = Astro.props;
---

<accordion-of-skills>
    <div class="header">
        <h3 class="title">{skillName}</h3>
        {skillIconURL ?
            <img class="skill-icon" src={skillIconURL} alt={skillName}>  
        :
            <div class="none-icon">
                <span>アイコン</span>
                <span>なし</span>
            </div>
        }
        <div class="skill-bar">
            <div class="skill-bar-fill" style=`--proficiency:${proficiency}`></div>
            <h3>{proficiency}</h3>
        </div>
        <div class="show-hide-icon"></div>
    </div>
    <div class="body">
        <div class="content">
            <slot />
        </div>
    </div>
</accordion-of-skills>

<style lang="scss">
    @use '../../styles/_utility' as *;
@layer Layout{
    accordion-of-skills{
        display:block;
        .header{
            position:relative;
            display:grid;
            grid-template-areas:"icon title     show-hide-icon"
                                "icon skill-bar skill-bar";
            grid-template-columns: auto 1fr;    
            .none-icon{
                grid-area:icon;
                align-self: center;
                margin-left:5px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items:  center;
            }
            .skill-icon{
                grid-area:icon;
                align-self: center;
                margin-left:5px;
            }

            .title{
                grid-area:title;

                display:flex;
                align-self:center ;
                margin-left:10px;
            }
            .skill-bar{
                grid-area:skill-bar;
                position:relative;
                margin-left:10px;
                h3{
                    position:absolute;
                    top:50%;
                    transform:translateY(-50%);
                    left:10px;
                }
                .skill-bar-fill{
                    position:absolute;
                }
            }
            .show-hide-icon{
                position:relative;
                grid-area:show-hide-icon;
                margin-top:13px;
                margin-right:13px;
                &::before{
                    position:absolute;
                    top:50%;
                    transform:translateY(-50%);
                }

                &::after{
                    position:absolute;
                    left:50%;
                    transform:translateX(-50%);
                }
            }

        }
        .body{
            position:relative;
            .content{
                position:relative;
                :global(video){
                    position:relative;
                    left:50%;
                    transform:translateX(-50%);
                    margin:10px 0px;
                }

            }
        }
    }
    accordion-of-skills.is-open{
        .header{
            .show-hide-icon{
                transform:rotateZ(90deg);
            }

        }

    }
}
@layer Appearance{
    accordion-of-skills{
        width:100%;
        height:auto;

        border:2px solid black;
        box-shadow:3px 3px 0 black;
        border-radius:10px;

        overflow:hidden;
        .header{
            width:100%;
            height:80px;
            background-color: $light-yellow;
            .title{
                font-size: 30px;
                font-family:"Noto Sans JP" , sans-serif;
            }
            .none-icon{
                width:70px;
                aspect-ratio: 1/1;

                outline:1px solid black;
                border-radius:50%;
            }
            .skill-icon{
                width:75px;
                aspect-ratio: 1/1;
                
                object-fit: contain;
            }
            .skill-bar{
                width:calc(100% - 20px);
                height:25px;
                border-radius: 30px;
                border:3px solid $yellow;
                .skill-bar-fill{
                    width:var(--proficiency);
                    height:100%;
                    background-image:linear-gradient(90deg,$yellow,orange);
                    border-radius: 10px;
                }
            }
            .show-hide-icon{
                width:20px;
                aspect-ratio: 1/1;
                transition: transform 0.3s;
                &::before{
                    width:100%;
                    height:2.5px;
                    background-color: black;

                    transition:opacity 0.3s;
                    content: "";
                }
                &::after{
                    width:2.5px;
                    height:100%;
                    background-color: black;
                    content: "";

                }
            }

        }
        .body{
            width:100%;
            height:0px;
            transition: height 0.3s;
            .content{
                border-top:1px solid black;
                padding:5px 10px;
                line-height: 1.6;
                background-color: white;
                &::-webkit-scrollbar{
                    width:15px;
                }
                &::-webkit-scrollbar-track{
                    background-color: $light-yellow;
                }
                &::-webkit-scrollbar-thumb{
                    background-color:gray;
                    border-radius: 6px;
                    border-right:4px solid $light-yellow;
                    border-left:4px solid $light-yellow;
                }

                &:not(.show-scroll-bar){
                    height:auto;
                }
                &.show-scroll-bar{
                    overflow-y:scroll;
                    height:var(--height);
                }
                :global(video){
                    width:100%;
                    max-width:450px;
                }

            }
        }

    }

    accordion-of-skills.is-open{
        .header{
            .show-hide-icon{
                &::before{
                    opacity:0;
                }
                &::after{
                }
            }
        }
        .body{
            height:var(--height);
        }

    }
    
    accordion-of-skills.is-header-hover{
        .header{
            background-color: $yellow;
            .skill-bar{
                border:3px solid black;
                background-color: $light-yellow;
                .skill-bar-fill{
                    background-color: $yellow;
                }
            }
        }
        .body{
            .content{
                &:not(.show-scroll-bar){
                }
                &.show-scroll-bar{
                    &::-webkit-scrollbar-track{
                        background-color: $yellow;
                    }
                    &::-webkit-scrollbar-thumb{
                        background-color:gray;
                        border-radius: 6px;
                        border-right:4px solid $yellow;
                        border-left:4px solid $yellow;
                    
                    }
                }
            }
        }
    }

}
</style>
<script>
import {WidthResizeObserver} from "../../scripts/utility";
class AccordionOfSkills extends HTMLElement{
    private targetHeightOfBody:number = 375;
    private header:HTMLElement|null = null;
    private body:HTMLElement|null = null;
    private content:HTMLElement|null = null;
    connectedCallback(){
        requestAnimationFrame(this.Start);
    }
    private Start=()=>{
        this.header =  this.querySelector('.header');
        if(!this.header){console.error('headerが見つかりませんでした');return;}
        this.body = this.querySelector('.body');
        if(!this.body){console.error('bodyが見つかりませんでした');return;}
        this.content = this.querySelector('.content');
        if(!this.content){console.error('contentが見つかりませんでした');return;}

        //#イベント関数の購読
        //##headerがクリックされた時の処理
        this.header.addEventListener('click',()=>{
            this.classList.toggle('is-open');
        })
        //##マウス操作可能な時に登録するイベントに対するコールバック関数；
        const isTouchDevice:boolean=window.matchMedia('(pointer:coarse)').matches; 
        if(!isTouchDevice){
            //#headerに対するhover処理
            this.header.addEventListener('mouseenter',()=>{
                this.classList.add('is-header-hover')
            })
            //#リサイズを検知するための初期化
            this.header.addEventListener('mouseleave',()=>{
                this.classList.remove('is-header-hover')
            })
        }
        const observer = new WidthResizeObserver(() => {
            this.DefineHeight();
        });
        observer.observe(document.documentElement);
        this.addEventListener('tab-shown',()=>{
            requestAnimationFrame(this.DefineHeight);
        })
        this.DefineHeight();
    }
    private DefineHeight=()=>{
        if(!this.body||!this.header||!this.content){return;}
        //#contentにスクロールバーを表示するか否かの処理orコンテンツ分bodyが小さくなるようにする処理
        if(this.targetHeightOfBody < this.content.scrollHeight){
            this.content.classList.add('show-scroll-bar');
        }
        else{
            this.content.classList.remove('show-scroll-bar');
        }
        //#bodyのheightを確定する処理
        this.body.style.setProperty('--height',`${Math.min(this.content.scrollHeight,this.targetHeightOfBody)}px`);

    }
}
customElements.define('accordion-of-skills',AccordionOfSkills);
</script>
