---
import {getCollection,type CollectionEntry} from 'astro:content';
import {skillCategory} from '../../content.config'
import {GetRenderAndEntrys} from '../../scripts/function';

import AccordionOfSkills from './AccordionOfSkill.astro';
const skills:CollectionEntry<'skills'>[] = await getCollection('skills');
console.log(skills.length);
const languages = skills
            .filter(e => e.data.category.some(e => e === skillCategory.language))
            .sort((e1,e2) => e2.data.proficiency - e1.data.proficiency);
const frameworks = skills
            .filter(e => e.data.category.some(e => e === "framework"))
            .sort((e1,e2) => e2.data.proficiency - e1.data.proficiency);
const tools = skills
            .filter(e => e.data.category.some(e => e === skillCategory.tool))
            .sort((e1,e2) => e2.data.proficiency - e1.data.proficiency);
const library = skills
            .filter(e => e.data.category.some(e => e === skillCategory.library))
            .sort((e1,e2) => e2.data.proficiency - e1.data.proficiency);
const renderedLanguages = await GetRenderAndEntrys<'skills'>(languages);
const renderedFrameworks = await GetRenderAndEntrys<'skills'>(frameworks);
const renderedTools = await GetRenderAndEntrys<'skills'>(tools);
const renderedLibrary = await GetRenderAndEntrys<'skills'>(library);

---
<my-skills role="region">
    <h2>私のスキル</h2>
    <div class="show-skill-buttons"> 
        <button class="is-selected" data-category="language">言語</button>
        <button data-category="framework">フレームワーク</button>
        <button data-category="tools">ツール</button>
        <button data-category="library">ライブラリ</button>
    </div>
    <div class="skills-content is-visible" data-category="language">
        {renderedLanguages.map(({entry,Content}) => {return(
            <AccordionOfSkills skillName={entry.data.skillName} skillIconURL={entry.data.skillIconURL} proficiency=`${entry.data.proficiency}%`>
                <Content/>
            </AccordionOfSkills>
        )})}
    </div>
    <div class="skills-content" data-category="framework">
        {renderedFrameworks.map(({entry,Content}) => {return(
            <AccordionOfSkills skillName={entry.data.skillName} skillIconURL={entry.data.skillIconURL} proficiency=`${entry.data.proficiency}%`>
                <Content/>
            </AccordionOfSkills>
        )})}
    </div>
    <div class="skills-content" data-category="tools">
        {renderedTools.map(({entry,Content}) => {return(
            <AccordionOfSkills skillName={entry.data.skillName} skillIconURL={entry.data.skillIconURL} proficiency=`${entry.data.proficiency}%`>
                <Content/>
            </AccordionOfSkills>
        )})}
    </div>
    <div class="skills-content" data-category="library">
        {renderedLibrary.map(({entry,Content}) => {return(
            <AccordionOfSkills skillName={entry.data.skillName} skillIconURL={entry.data.skillIconURL} proficiency=`${entry.data.proficiency}%`>
                <Content/>
            </AccordionOfSkills>
        )})}
    </div>
</my-skills>
<style lang="scss">
@use '../../styles/_utility' as *;
@layer Layout{
    my-skills{
        h2{
            position:relative;
            margin:0px;
            &::before{
                position:absolute;
                top:-15px;
                left:0px;
            }
        }
        .show-skill-buttons{
            display:flex;
            justify-content: center;
            gap:10px;
            flex-wrap: wrap;
            margin:15px 0px;
            
            button{
                &:active{
                    transform:translateY(2px);
                }
            }
        }
        .skills-content{
            display: none;
            &.is-visible{
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap:10px;
            }
        }
    }

}
@layer Appearance{
    my-skills{
        width:900px;
        background-color: white;
        border-right:1px solid black;
        border-bottom:1px solid black;
        border-left:1px solid black;
        border-top-right-radius: 30px;
        h2{
            padding-left:10px;
            padding-bottom:10px;
            background-color: black;
            border-top-right-radius: 30px;

            font-size:30px;
            font-family:"Noto Sans JP" , sans-serif;
            color:white;
            &::before{
                width:170px;
                height:15px;
                background-color: black;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                content: "";
            }
        }
        //#skill-buttons全体につける奴
        .show-skill-buttons{
            button{
                width:20%;
                max-width: 150px;
                min-width: 100px;
                height:50px;
                background-color: $light-yellow;
                border-radius: 20px;
                border:3px solid black;
                box-shadow: 2px 2px 0px black;

                color:black;
                font-family:"Noto Sans JP" , sans-serif;
                &:active{
                    box-shadow: 0px 0px 0px black;
                }
                &.is-selected{
                    background-color: $yellow;
                }
            }
        }

        .skills-content{
            width:100%;
            padding:0px 10px 10px 10px;
            &.is-visible{
                animation:skillsContentFadeIn 0.4s ease-out forwards;
            }
        }
        @keyframes skillsContentFadeIn{
            from{
                opacity:0;
                transform:translateY(10px);
            }
            to{
                opacity:1;
                transform:translateY(0px);
            }
        }
    }
}
@media (max-width:1000px) {
    my-skills{
        width:90%;
    }
}
@media (max-width:510px) {
    my-skills{
        width:calc(100% - 16px);
    }
}


</style>
<script>
class MySkills extends HTMLElement{
    //#スキルをジャンル別に表示非表示を出来るようにするための処理
    private showSkillsButtons:NodeListOf<HTMLElement>|null = null;
    private skillsContents:NodeListOf<HTMLElement>|null = null;
    private showingSkillsContent:HTMLElement|null = null;

    connectedCallback(){
        this.showSkillsButtons = this.querySelectorAll('.show-skill-buttons button');
        this.skillsContents = this.querySelectorAll('my-skills .skills-content');
        this.showingSkillsContent = this.querySelector('my-skills .skills-content.is-visible');

        this.showSkillsButtons.forEach((e)=>{e.addEventListener('click',this.TryShowSkillsContent)})
    }

    TryShowSkillsContent=(event:MouseEvent)=>{
        if(!(this.showingSkillsContent&&this.skillsContents&&this.showSkillsButtons))return;
        const showingSkillsAccordions:NodeListOf<HTMLElement> = this.showingSkillsContent.querySelectorAll('accordion-of-skills')
        const targetButton:HTMLElement = event.currentTarget as HTMLElement;
        const buttonCategory:string|undefined = targetButton.dataset.category;
        if(!buttonCategory){console.error('データ属性categoryがbutton要素に紐づけられていません'); return;}


        for(const skillsContent of this.skillsContents){
            const contentCategory:string|undefined = skillsContent.dataset.category;
            if(!contentCategory){console.error('データ属性categoryがskillsContentクラスセレクタがある要素に紐づけられていません'); return;}
            if(buttonCategory !== contentCategory){continue};
            if(this.showingSkillsContent === skillsContent){return};
            const nextShowSkillsAccordions:NodeListOf<HTMLElement> = skillsContent.querySelectorAll('accordion-of-skills');
            this.showSkillsButtons.forEach((e)=>{e.classList.remove('is-selected')});
            showingSkillsAccordions.forEach((e)=>{e.classList.remove('is-open')});
            this.skillsContents.forEach((e)=>{e.classList.remove('is-visible')});

            skillsContent.classList.add('is-visible');
            nextShowSkillsAccordions.forEach((e)=>{e.dispatchEvent(new CustomEvent('tab-shown'))})

            targetButton.classList.add('is-selected');
            this.showingSkillsContent = skillsContent;  
            return;
        }
        console.error('eventの発信者となったボタンが持つcategoryデータ属性に対応するskillsContentが存在しません');              
    }
}
if(!customElements.get('my-skills')){
    customElements.define('my-skills',MySkills);
}
</script>
